// 自定义
$meituan: #ffd103;

$white: #ffffff;
$black: #000000;
$primary-color: #337eff; // 主颜色
$border-color: #e6e6eb; // 边框颜色
$disabled-color: #c4ccd8; // 禁用颜色
$input-color: #333333; // input输入框颜色
$tip-color: #cccccc; // input 提示字符颜色
$success-color: #189971; // toast成功颜色
$error-color: #f24957; // toast失败颜色

/*常用颜色*/
$aw-color-blue: #0078d4;
$aw-color-blue-light: #05a6f0;
$aw-color-blue-dark: #106ebe;
$aw-color-red: #a4262c;
$aw-color-red-light: #ae383e;
$aw-color-red-dark: #932227;
$aw-color-yellow: #ffe092;
$aw-color-yellow-light: #ffd56c;
$aw-color-yellow-dark: #e0b036;
$aw-color-green: #498205;
$aw-color-green-light: #5a9117;
$aw-color-green-dark: #386304;
$aw-color-orange: #ca5010;
$aw-color-orange-light: #d06228;
$aw-color-orange-dark: #993e0c;

/*Office 颜色*/
$aw-color-access: #a4373a;
$aw-color-outlook: #0078d4;
$aw-color-excel: #217346;
$aw-color-office: #d83b01;
$aw-color-onenote: #7719aa;
$aw-color-planner: #077568;
$aw-color-powerapps: #742774;
$aw-color-powerpoint: #b7472a;
$aw-color-publisher: #077568;
$aw-color-sway: #008272;
$aw-color-teams: #6264a7;
$aw-color-visio: #3955a3;
$aw-color-word: #2b579a;
$aw-color-yammer: #106ebe;

/*灰阶*/
$aw-color-gray-0: #000000;
$aw-color-gray-1: #3f3f3f;
$aw-color-gray-2: #606060;
$aw-color-gray-3: #909090;
$aw-color-gray-4: #c0c0c0;
$aw-color-gray-5: #d0d0d0;
$aw-color-gray-6: #dddddd;
$aw-color-gray-7: #f0f0f0;
$aw-color-gray-8: #f9f9f9;
$aw-color-gray-9: #ffffff;

/*Voclaoid 颜色*/
$aw-color-luotianyi: #66ccff;
$aw-color-yuezhengling: #ee0000;
$aw-color-yanhe: #99ffff;
$aw-color-miku: #39c5bb;
$aw-color-rin: #ffa500;
$aw-color-luka: #ffc0cb;
