@import './_reset.scss';
@import './_variables.scss';
@import './color';
* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
    box-sizing: content-box;
}

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $font-family-regular;
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: $content-width;
    height: 100%;
    background-color: $white;
    color: $black;
    font-size: 14px;
    line-height: 1.375;
    //超出隐藏
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
